<div>
	<table>
	<tbody>
		{% assign sorted_items = (site.publications | sort: 'date') %}
		{% for item in sorted_items reversed %}
			<tr>
				<td class="publication-img-cell">
					<img class="publication-picture" src="{{ item.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
				</td>
				<td class="publication-text-cell">
					<h3 class="publication-title"> {{ item.title }} </h3>

					<p>{{ item.content }}</p>
					<div class="publication-authors">{{ item.authors }}</div>

					{% if item.authors %}
						<div class="publication-venue">{{ item.venue }}</div>
					{% endif %}

					<div class="publication-link">
						<a href="{{ item.link }}"> Paper </a>

						{% if item.code %}
							| <a  href="{{ item.code }}"> Code </a>
						{% endif %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
</div>