<div>
	<table>
	<tbody>
		{% assign sorted_items = (site.publications | sort: 'date') %}
		{% for item in sorted_items reversed %}
			<tr>
				<td class="info-img-cell">
					<img class="info-picture" src="{{ item.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
				</td>
				<td class="info-text-cell">
					<h3 class=info-title> {{ item.title }} </h3>

					{{ item.content }}
		
					<div class="info-authors">{{ item.authors }}</div>
					<div class="info-venue">{{ item.venue }}</div>

					<div class="info-link">
						
						<a href="{{ item.link }}"> Paper </a>

						{% if item.code %}
							| <a  href="{{ item.code }}"> Code </a>
						{% endif %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
</div>