.info-title {
    margin: 10px 0;
}

.info-picture {
	width: 100%;
}

.info-img-cell {
	width: 30%;
	vertical-align: middle;
}

.info-text-cell {
	width: 70%;
	vertical-align: top;
}

.info-authors {
	font-size: 75%;
}

.info-venue {
	margin-top: 0.2rem;
	font-size: 85%;
	font-style: italic;
}	

.info-link{
	margin-top: 0.5rem;
	
}
