.projects-title {
	font-size:95%;
	margin-top:1.5em; 
}

.projects p {
	font-size:95%;
	margin: 0.2em;
}

.projects-authors {
	font-size: 75%;
}

.projects-venue {
	font-size: 85%;
	font-style: italic;
}