.publication-title {
    margin: 10px 0;
}

.publication-picture {
	width: 100%;
}

.publication-img-cell {
	width: 30%;
	vertical-align: middle;
}

.publication-text-cell {
	width: 70%;
	vertical-align: top;
}

.publication-authors {
	font-size: 75%;
}

.publication-venue {
	margin-top: 0.2rem;
	font-size: 85%;
	font-style: italic;
}	

.publication-link {
	margin-top: 0.5rem;
}

