---
layout: page
---
<div class="wrapper">
	<div class="profile col one {{ page.profile.align }}">
	  <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
	</div>

	<header class="profile-header">
	  <h1 class="page-title h1 h1-responsive">{{ page.title }}</h1>
	  <h5 class="page-description">{{ page.description }}</h5>
	</header>

	{{ content }}
	<div id="publications-top"></div>
	{% include social.html %}


	<h2 class="subsection_title" id="publications">Publications</h2>
	{% include publications.html %}

	<hr>

	<h2 class="subsection_title" id="projects">Projects</h2>

	{% include projects.html %}

	<hr>

	<h2 class="subsection_title" id="teaching">Teaching</h2>
	{% include teaching.html %}

</div>
